@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;800&family=Oswald:wght@700&display=swap');
#slogan{
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    font-style: italic;
}
#slogan2{
    font-family: 'Barlow Condensed', sans-serif;
    color: slategrey;
}
#headerLogo{
    height: 50px;
    width: 40px;
   position: absolute;
   top: 20px;
}
#headerSlogan{
    position: absolute;
    top: 20px;
    left: 150px;
    height: 50px;
}


nav { 
    position: absolute;
    top: 40px;
    right: 100px;
}
ul{ 
    list-style: none; 
    }

ul li{
    display: inline-block;
    text-decoration: none;
  
}
.icon7{margin-left: 10px;}

main {margin-top: 120px;
 
}

h1{  font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin-bottom: 7px;
}

#logoPost{
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 20px;
}
#print{
    font-family: 'Barlow Condensed', sans-serif; 
    display: inline-block;
    position: absolute;
    top: 160px;
    right: 100px;
}
#cake{width: 100%;}

body{margin-left: 100px;
margin-right: 100px;}